body{
  font-family: 'Jua', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}
.wrap{
  /*! width: 100%; */
  /*! margin: 0 auto; */
  box-sizing: border-box;
}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
.block{

}
.hide{
  display: none;
}